/* color palette from <https://github.com/vuejs/theme> */
:root {
  --header-bg-black: #181818;
  --main-btn-bg-orange: #ffc700;
  --test-btn-bg-white: #dadada;
  --extra-bg--whitedusk: #f3f3f2;
  --decor-bg-greyalfa: rgba(243, 243, 242, 0.8);

  --main-tx-clr-white: #ffffff;
  --accent-tx-clr-orange: #ffc700;
  --extra-tx-clr-black: #272727;
  --extra-tx-clr-darkblack: #181818;
  --system-tx-clr-grey: rgba(255, 255, 255, 0.5);
  --accentmenu-tx-clr-orange: #f4ce0c;

  --main-btn-clr-black: #0d0c11;
  --test-btn-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  --test-btn-clr-grey: #8e8e8e;
  --prosgress-bg-grey: #f2f3f3;
  --level-clr-green: #3bde7c;
  --radio-bg-blue: #2950c2;

  --main-txfont-ptserif: 'PT Serif', serif;
  --accent-txfont-yeseva: 'Yeseva One', serif;
  --extra-txfont-merriweather: 'Merriweather', serif;
  --system-txfont-roboto: 'Roboto', sans-serif;
  --button-txfont-merriweather: 'Merriweather', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

html:has([aria-expanded='true']) {
  overflow-y: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.buttonMain {
  font-family: var(--button-txfont-merriweather);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--main-btn-clr-black);
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--main-btn-bg-orange),
    var(--main-btn-bg-orange) 21%
  );
  border-radius: 20px;
  padding: 18px 14px 11px;
  max-width: 200px;
  width: 100%;
}

.buttonTest {
  padding: 13px 17px 10px 17px;
  border-radius: 20px;
  box-shadow: var(--test-btn-shadow);
  background-color: var(--test-btn-bg-white);
  text-transform: uppercase;

  font-family: var(--button-txfont-merriweather);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 1.4px;
  text-align: center;
  color: var(--test-btn-clr-grey);
  max-width: 189px;
  width: 100%;
}
